<!DOCTYPE html>
<html lang="es" class="desktop">
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Chisnbal{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('bundles/chisnbal/css/style_index.css') }}"/>
            <link rel="stylesheet" href="{{ asset('bundles/chisnbal/css/hot.css') }}"/>
            <link rel="stylesheet" href="{{ asset('bundles/chisnbal/css/fonts.css') }}"/>
            <link rel="stylesheet" href="{{ asset('bundles/chisnbal/css/jquery.fancybox.css') }}" />
            <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
    <div id="site">
        <div id="header">
            <a href="{{ path('chisnbal_homepage') }}" class="logo history">
                <img src="{{ asset('bundles/chisnbal/img/1471466065_622180.png') }}" alt="Chisnbal">
            </a>
            <div class="block-menu-level-1">
                <ul class="menu-level-1">
                    <li class="menu-item open-level-2  unit">
                        <a class="link-text history level-1-link" id="level-1-maison" href="{{ path('chisnbal_quiensomos') }}">Quién Somos</a>
                    </li>
                    <li class="menu-item open-level-2  unit">
                        <a class="link-text level-1-link fancybox" id="level-1-collection" href="#contacto">Contacto</a>
                    </li>
                    <li class="menu-item unit">
                        <a class="link-text level-1-link" id="level-1-m801" href="">Rebajas</a>
                    </li>
                    <li class="menu-item unit">
                        <a class="link-text level-1-link history" id="level-1-m790" href="">Novedades</a>
                    </li>
                    <li class="menu-item unit">
                        <a class="link-text level-1-link" id="level-1-m789" href="{{ path('chisnbal_carrito') }}">Pedidos</a>
                    </li>
                    <li class="menu-item open-level-2  unit">
                        <span class="link-text level-1-link" id="level-1-language">English</span>
                    </li>
                </ul><!-- .menu-level-1 -->
            </div><!-- .block-menu-level-1 -->
        </div>
        {% block content %}{% endblock %}
        <section style="display:none" id="contacto" class="overlay-content client-services-overlay-content">
            <div class="client-services-header">
                <h1  class="title-bottom-line-diamond client-services-title">
                    Contacta con nosotros <span class="client-services-country-copy">CHISNBAL España</span>
                </h1>
            </div>
            <div class="client-services-container" data-module="clientServices">
                <div class="client-services-items">
                    <div class="client-services-section-title">
                        Si tienes alguna duda, o quieres consultarnos algo<br> ¡te lo ponemos fácil!</div>
                    <div class="fancyGoldenSeperator"></div>
                    <div class="client-services-item-container">
                        <div class="client-services-item">
                            <div class="client-services-service">
                                <div class="client-services-service-description">
                                    Calle la Bañeza, 46, 28947 Fuenlabrada, Madrid<br>
                                    TEL: 91 425 88 14<br>
                                    Email: info@chisnbal.es
                                </div>
                            </div>
                            <div class="client-services-actions">
                                <a href="mailto:celinaselection@hotmail.com" target="_self" class="button-gold-outline client-services-link" data-content="client-services-email-us-8796289811160">Enviar un correo electrónico</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Footer -->
        <footer>
            <div class="follow">
                <a class="lien" href="" target="_blank"><img src="{{ asset('uploads/images/icon-twitter2.png') }}" alt="Twitter"/><span>Twitter</span></a>
                <a class="lien" href="" target="_blank"><img src="{{ asset('uploads/images/icon-tumblr.png') }}" alt="Tumblr"/><span>Tumblr</span></a>
                <a class="lien" href="" target="_blank"><img src="{{ asset('uploads/images/icon-linkedin.png') }}" alt="Linkedin"/><span>Linkedin</span></a>
                <a class="lien" href="" target="_blank"><img src="{{ asset('uploads/images/icon-viadeo.png') }}" alt="Viadeo"/><span>Viadeo</span></a>
            </div>
            <span class="copyright">© 2016 CHISNBAL S.L  Todos los derechos reservados<br>info@chisnbal.es</span>
        </footer>
        <div class="scrollToTop"><a href="#"><img class="img-scroll" src="{{ asset('uploads/images/fleche.jpg') }}"/></a></div>

    </div>
        {% block javascripts %}
            <script src="{{ asset('bundles/chisnbal/js/jquery-1.12.4.min.js') }}"></script>
            <script src="{{ asset('bundles/chisnbal/js/bootstrap.min.js') }}"></script>
            <script src="{{ asset('bundles/chisnbal/js/scrolltop.js') }}"></script>
            <script src="{{ asset('bundles/chisnbal/js/jquery.fancybox.pack.js') }}"></script>
            <script src="{{ asset('bundles/chisnbal/js/chisnbal.js') }}"></script>
        {% endblock %}
    </body>
</html>
