{% extends 'ChisnbalBundle:BackEnd:index.html.twig' %}

{% block menuslide %}
    <ul class="nav nav-sidebar">
        <li class="active"><a href="{{ path('chisnbal_homepage_admin') }}"><i class="fa fa-tachometer" aria-hidden="true"></i> &nbsp;Visión Genenal  <span class="sr-only">(current)</span></a></li>
        <li><a href="#"><i class="fa fa-info" aria-hidden="true"></i> &nbsp;&nbsp;&nbsp;&nbsp;Informe</a></li>
        <li><a href="#"><i class="fa fa-bar-chart" aria-hidden="true"></i>&nbsp; Análisis</a></li>
    </ul>
    <ul class="nav nav-sidebar">
        <li><a href="{{ path('user_index') }}"><i class="fa fa-users" aria-hidden="true"></i> &nbsp;&nbsp;用户管理</a></li>
        <li><a href="{{ path('category_index') }}"><i class="fa fa-columns" aria-hidden="true"></i> &nbsp;&nbsp;分类管理</a></li>
        <li><a href="{{ path('product_index') }}"><i class="fa fa-male" aria-hidden="true"></i> &nbsp;&nbsp;&nbsp;产品管理</a></li>
        <li><a href="{{ path('select_new') }}"><i class="fa fa-heart" aria-hidden="true"></i> &nbsp;&nbsp;新品选择</a></li>
        <li><a href="{{ path('orderinfo_index') }}"><i class="fa fa-credit-card" aria-hidden="true"></i> &nbsp;&nbsp;订单管理</a></li>
        <li><a href="{{ path('fontproduct_index') }}"><i class="fa fa-bell" aria-hidden="true"></i> &nbsp;&nbsp;首页产品</a></li>
    </ul>
{% endblock %}

{% block content %}
    <h1 class="page-header">Dashboard</h1>
    <br>
    <div class="row">
        <div class="col-sm-6 col-md-3 col-lg-3">
            <div class="panel user">
                <a href="{{ path('user_index') }}"><span>{{ numUser }} </span>Usuarios</a>
            </div>
        </div>
        <div class="col-sm-6 col-md-3 col-lg-3">
            <div class="panel comment">
                <a href="{{ path('category_index') }}"><span>{{ numCategory }} </span>Categorias</a>
            </div>
        </div>
        <div class="col-sm-6 col-md-3 col-lg-3">
            <div class="panel page">
                <a href="{{ path('orderinfo_index') }}"><span>{{ numOrder }} </span>Pedidos</a>
            </div>
        </div>
        <div class="col-sm-6 col-md-3 col-lg-3">
            <div class="panel post">
                <a href="{{ path('product_index') }}"><span>{{ numProduct }} </span>Productos</a>
            </div>
        </div>
    </div>

    <br>
    <h2 class="sub-header">Tabla de Informaciones de Usuarios</h2>
    <div class="row">
        <div class="col-md-6 col-lg-6">
            <div class="table-responsive" style="position: relative; top: 25px;">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Nuevo Registrado</th>
                        <th>Nombre</th>
                        <th>Correo Electrónico</th>
                        <th>Último Acceso</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for user in users %}
                        <tr>
                            <td>{{ user.id }}</td>
                            <td>{{ user.username }}</td>
                            <td>{{ user.email }}</td>
                            <td>{% if user.lastLogin %}{{ user.lastLogin|date('Y-m-d H:i:s') }}{% endif %}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-md-4 col-md-offset-1 col-lg-4 col-lg-offset-1">
            <canvas id="myChart1" width="400" height="400"></canvas>
        </div>
    </div>
    <br>
    <h2 class="sub-header">Tabla de Informaciones de Pedidos</h2>
    <div class="row">
        <div class="col-md-4 col-lg-4">
            <canvas id="myChart" width="400" height="400"></canvas>
        </div>
        <div class="data" style="display: none">
            {% for day6Order in day6Orders %}
                <div id="day{{ loop.index }}order">{% if day6Order == null %}0{% else %}{{ day6Order }}{% endif %}</div>
            {% endfor %}
        </div>
        <div class="col-md-6 col-md-offset-1 col-lg-6 col-lg-offset-1">
            <div class="table-responsive" style="position: relative; top: 25px;">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Nuevos Pedidos</th>
                        <th>Usuario</th>
                        <th>Importe total</th>
                        <th>Ciudad</th>
                        <th>Tiempo de generación</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for order in orders %}
                        <tr>
                            <td>{{ order.id }}</td>
                            <td>{{ order.user.username }}</td>
                            <td>{{ order.totalPrice|number_format(2, '.', ',') }} €</td>
                            <td>{{ order.receiverCity }}</td>
                            <td>{% if order.orderDate %}{{ order.orderDate|date('Y-m-d H:i') }}{% endif %}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <br><br><br>
{% endblock %}