{% extends 'ChisnbalBundle:BackEnd:index.html.twig' %}

{% block menuslide %}
    <ul class="nav nav-sidebar">
        <li><a href="{{ path('chisnbal_homepage_admin') }}"><i class="fa fa-tachometer" aria-hidden="true"></i> &nbsp;Visión Genenal  <span class="sr-only">(current)</span></a></li>
        <li><a href="#"><i class="fa fa-info" aria-hidden="true"></i> &nbsp;&nbsp;&nbsp;&nbsp;Informe</a></li>
        <li><a href="#"><i class="fa fa-bar-chart" aria-hidden="true"></i>&nbsp; Análisis</a></li>
    </ul>
    <ul class="nav nav-sidebar">
        <li><a href="{{ path('user_index') }}"><i class="fa fa-users" aria-hidden="true"></i> &nbsp;&nbsp;用户管理</a></li>
        <li><a href="{{ path('category_index') }}"><i class="fa fa-columns" aria-hidden="true"></i> &nbsp;&nbsp;分类管理</a></li>
        <li class="active"><a href="{{ path('product_index') }}"><i class="fa fa-male" aria-hidden="true"></i> &nbsp;&nbsp;&nbsp;产品管理</a></li>
        <li><a href="{{ path('select_new') }}"><i class="fa fa-heart" aria-hidden="true"></i> &nbsp;&nbsp;新品选择</a></li>
        <li><a href="{{ path('orderinfo_index') }}"><i class="fa fa-credit-card" aria-hidden="true"></i> &nbsp;&nbsp;订单管理</a></li>
        <li><a href="{{ path('fontproduct_index') }}"><i class="fa fa-bell" aria-hidden="true"></i> &nbsp;&nbsp;首页产品</a></li>
    </ul>
{% endblock %}

{% block content %}
    <h1 class="sub-header">产品细节图管理</h1>
    <h3><a href="{{ path('product_edit', { 'id': product.id }) }}">产品编号：{{ product.codigo }}</a></h3>
    <table class="table table-bordered table-striped table-hover">
        <thead>
        <tr>
            <th>ID</th>
            <th>产品细节图</th>
            <th>备注西语</th>
            <th>备注英语</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        {% for fotodetalle in fotodetalles %}
            <tr>
                <td>{{ fotodetalle.id }}</td>
                <td><a href="{{ asset('uploads/fotos/' ~ fotodetalle.fotodetalle) }}"><img src="{{ asset('uploads/fotos/' ~ fotodetalle.fotodetalle) }}" height="120px" width="100px"></a></td>
                <td>{{ fotodetalle.descriptionEs }}</td>
                <td>{{ fotodetalle.descriptionEn }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('fotodetalle_edit', { 'id': fotodetalle.id, 'productId': product.id }) }}">修改</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('fotodetalle_new', { 'productId': product.id }) }}" class="button button-rounded">创建新产品细节图</a>
        </li>
    </ul>
{% endblock %}
