{% extends 'ChisnbalBundle:BackEnd:index.html.twig' %}

{% block menuslide %}
    <ul class="nav nav-sidebar">
        <li><a href="{{ path('chisnbal_homepage_admin') }}">总览  <span class="sr-only">(current)</span></a></li>
        <li><a href="#">报告</a></li>
        <li><a href="#">分析</a></li>
    </ul>
    <ul class="nav nav-sidebar">
        <li><a href="{{ path('user_index') }}">用户管理</a></li>
        <li><a href="{{ path('category_index') }}">分类管理</a></li>
        <li><a href="{{ path('product_index') }}">产品管理</a></li>
        <li class="active"><a href="{{ path('select_new') }}">新品选择</a></li>
        <li><a href="{{ path('orderinfo_index') }}">订单管理</a></li>
        <li><a href="{{ path('fontproduct_index') }}">首页产品</a></li>
    </ul>
{% endblock %}

{% block content %}
    <h1 class="sub-header">新品选择</h1>
    <br>
    <form class="form-inline" action="{{ path('add_new') }}" method="post">
        <div class="form-group">
            <label for="codigo">产品编号</label>
            <input type="text" class="form-control" id="codigo" name="codigo" placeholder="codigo" required="required">
        </div>
        <button type="submit" class="btn btn-default" id="addnew">添加新品</button>
    </form>
    {% for flashMessage in app.session.flashbag.get('notice') %}

        <div class="alert alert-danger">
            {{ flashMessage }}
        </div>

    {% endfor %}
    {% for flashMessage in app.session.flashbag.get('success') %}

        <div class="alert alert-success">
            {{ flashMessage }}
        </div>

    {% endfor %}
    <br>
    <table class="table table-bordered table-striped table-hover">
        <thead>
        <tr>
            <th>ID</th>
            <th>产品名西语</th>
            <th>产品名英语</th>
            <th>单价</th>
            <th>产品编号</th>
            <th>图片</th>
            <th>所属分类</th>
            <th>备注</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        {% for product in products %}
            <tr>
                <td>{{ product.id }}</td>
                <td>{{ product.productNameEs }}</td>
                <td>{{ product.productNameEn }}</td>
                <td>{{ product.price }}</td>
                <td>{{ product.codigo }}</td>
                <td><a href="{{ asset('uploads/fotos/' ~ product.foto) }}"><img src="{{ asset('uploads/fotos/' ~ product.foto) }}" height="120px" width="100px"></a></td>
                <td>{{ product.categoryName }}</td>
                <td>{{ product.description }}</td>
                <td>
                    <a href="{{ path('delete_new', { 'id': product.id }) }}">取消新品</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
