{% extends 'ChisnbalBundle:BackEnd:index.html.twig' %}

{% block menuslide %}
    <ul class="nav nav-sidebar">
        <li><a href="{{ path('chisnbal_homepage_admin') }}">总览  <span class="sr-only">(current)</span></a></li>
        <li><a href="#">报告</a></li>
        <li><a href="#">分析</a></li>
    </ul>
    <ul class="nav nav-sidebar">
        <li class="active"><a href="{{ path('user_index') }}">用户管理</a></li>
        <li><a href="{{ path('category_index') }}">分类管理</a></li>
        <li><a href="{{ path('product_index') }}">产品管理</a></li>
        <li><a href="{{ path('select_new') }}">新品选择</a></li>
        <li><a href="{{ path('orderinfo_index') }}">订单管理</a></li>
        <li><a href="{{ path('fontproduct_index') }}">首页产品</a></li>
    </ul>
{% endblock %}

{% block content %}
    <h1 class="sub-header">用户管理</h1>
    <br>
    <table class="table table-bordered table-striped table-hover">
        <thead>
        <tr>
            <th>ID</th>
            <th>用户名</th>
            <th>邮箱</th>
            <th>可使用</th>
            <th>最后登录时间</th>
            <th>电话</th>
            <th>证明</th>
            <th>用户规则</th>
        </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.username }}</td>
                <td>{{ user.email }}</td>
                <td>
                    {% if user.enabled %}Yes{% else %}No{% endif %}<br>
                {% if user.enabled %}
                {% else %}
                    <a href="{{ path('user_enable', { 'id': user.id }) }}" onclick="return confirm('确定开通此用户权限?')" class="button button-tiny button-highlight">开通权限</a>
                {% endif %}
                </td>
                <td>{% if user.lastLogin %}{{ user.lastLogin|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ user.tel }}</td>
                <td>
                    {% if user.liciencia %}
                        <a href="{{ asset('uploads/fotos/' ~ user.liciencia) }}" target="_blank" class="button button-tiny button-primary">查看</a>
                    {% else %}
                        <p>无</p>
                    {% endif %}

                </td>
                <td>
                    <ul class="list">
                        {%for role in user.roles %}
                            <li>{{role}}</li>
                        {%endfor%}
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <p>如需更换用户名密码请联系管理员</p>
{% endblock %}