{% extends 'ChisnbalBundle:BackEnd:index.html.twig' %}

{% block menuslide %}
    <ul class="nav nav-sidebar">
        <li><a href="{{ path('chisnbal_homepage_admin') }}">总览  <span class="sr-only">(current)</span></a></li>
        <li><a href="#">报告</a></li>
        <li><a href="#">分析</a></li>
    </ul>
    <ul class="nav nav-sidebar">

    </ul>
{% endblock %}

{% block content %}
    <h1 class="sub-header">用户管理</h1>
    <br>
    <table class="table table-bordered table-striped table-hover">
        <thead>
        <tr>
            <th>ID</th>
            <th>用户名</th>
            <th>邮箱</th>
            <th>可使用</th>
            <th>最后登录时间</th>
            <th>锁定</th>
            <th>过期</th>
            <th>用户规则</th>
        </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.username }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.enabled }}</td>
                <td>{% if user.lastLogin %}{{ user.lastLogin|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ user.locked }}</td>
                <td>{{ user.expired }}</td>
                <td>
                    <ul class="list">
                        {%for role in user.roles %}
                            <li>{{role}}</li>
                        {%endfor%}
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <p>如需更换用户名密码请联系管理员</p>
{% endblock %}