{% extends 'ChisnbalBundle:BackEnd:index.html.twig' %}

{% block menuslide %}
    <ul class="nav nav-sidebar">
        <li><a href="{{ path('chisnbal_homepage_admin') }}"><i class="fa fa-tachometer" aria-hidden="true"></i> &nbsp;Visión Genenal  <span class="sr-only">(current)</span></a></li>
        <li><a href="#"><i class="fa fa-info" aria-hidden="true"></i> &nbsp;&nbsp;&nbsp;&nbsp;Informe</a></li>
        <li><a href="#"><i class="fa fa-bar-chart" aria-hidden="true"></i>&nbsp; Análisis</a></li>
    </ul>
    <ul class="nav nav-sidebar">
        <li><a href="{{ path('user_index') }}"><i class="fa fa-users" aria-hidden="true"></i> &nbsp;&nbsp;用户管理</a></li>
        <li><a href="{{ path('category_index') }}"><i class="fa fa-columns" aria-hidden="true"></i> &nbsp;&nbsp;分类管理</a></li>
        <li><a href="{{ path('product_index') }}"><i class="fa fa-male" aria-hidden="true"></i> &nbsp;&nbsp;&nbsp;产品管理</a></li>
        <li><a href="{{ path('select_new') }}"><i class="fa fa-heart" aria-hidden="true"></i> &nbsp;&nbsp;新品选择</a></li>
        <li><a href="{{ path('orderinfo_index') }}"><i class="fa fa-credit-card" aria-hidden="true"></i> &nbsp;&nbsp;订单管理</a></li>
        <li class="active"><a href="{{ path('fontproduct_index') }}"><i class="fa fa-bell" aria-hidden="true"></i> &nbsp;&nbsp;首页产品</a></li>
    </ul>
{% endblock %}

{% block content %}
    <h1 class="sub-header">首页产品管理</h1>
    <br>
    <table class="table table-bordered table-striped table-hover">
        <thead>
            <tr>
                <th>ID</th>
                <th>名称</th>
                <th>照片</th>
                <th>备注</th>
                <th>所对应ID</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
        {% for fontProduct in fontProducts %}
            <tr>
                <td>{{ fontProduct.id }}</td>
                <td>{{ fontProduct.name }}</td>
                <td><a href="{{ asset('uploads/fotos/' ~ fontProduct.foto) }}"><img src="{{ asset('uploads/fotos/' ~ fontProduct.foto) }}" height="100px" width="100px"></a></td>
                <td>{{ fontProduct.description }}</td>
                <td>{{ fontProduct.url }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('fontproduct_edit', { 'id': fontProduct.id }) }}" class="button button-tiny button-primary">修改</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
