{% extends 'base.html.twig' %}

{% block body %}
    <h1>FontProduct</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ fontProduct.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ fontProduct.name }}</td>
            </tr>
            <tr>
                <th>Foto</th>
                <td>{{ fontProduct.foto }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ fontProduct.description }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('fontproduct_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('fontproduct_edit', { 'id': fontProduct.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
