{% extends 'ChisnbalBundle:BackEnd:index.html.twig' %}

{% block menuslide %}
    <ul class="nav nav-sidebar">
        <li><a href="{{ path('chisnbal_homepage_admin') }}">总览 <span class="sr-only">(current)</span></a></li>
        <li><a href="#">报告</a></li>
        <li><a href="#">分析</a></li>
    </ul>
    <ul class="nav nav-sidebar">
        <li><a href="{{ path('user_index') }}">用户管理</a></li>
        <li><a href="{{ path('category_index') }}">分类管理</a></li>
        <li><a href="{{ path('product_index') }}">产品管理</a></li>
        <li><a href="{{ path('select_new') }}">新品选择</a></li>
        <li class="active"><a href="{{ path('orderinfo_index') }}">订单管理</a></li>
    </ul>
{% endblock %}

{% block content %}
    <div style="text-align: center;">
        <h1 class="sub-header">订单发货明细</h1>
    </div>
    <br>
    <table class="table-striped" width="100%">
        <tbody>
        <tr>
            <th>订单号Order</th>
            <th>商品总价</th>
            <th>商品含税总价</th>
            <th>订单总价Price</th>
            <th>是否个体户R.E</th>
            <th>运费Ship</th>
            <th>订单生成时间Order Time</th>
        </tr>
        <tr>
            <td height="100">{{ orderInfo.id }}</td>
            <td>{{ orderInfo.goodsFee }}</td>
            <td>{{ orderInfo.goodsFeeIva }}</td>
            <td>{{ orderInfo.totalPrice }}</td>
            <td>{% if orderInfo.isGeren %}Yes{% else %}No{% endif %}</td>
            <td>{{ orderInfo.shipFee }}</td>
            <td>{% if orderInfo.orderDate %}{{ orderInfo.orderDate|date('Y-m-d H:i') }}{% endif %}</td>
        </tr>
        <tr>
            <th>付款方式</th>
            <th>邮递方式Ship</th>
            <th>收货人姓名Name</th>
            <th>联系电话Tel</th>
            <th>城市City</th>
            <th>邮编PostCode</th>
            <th>收货地址Address</th>
        </tr>
        <tr>
            <td height="100">{% if orderInfo.payType==1 %}门店付款{% endif %}{% if orderInfo.payType==2 %}银行转账{% endif %}{% if orderInfo.payType==3 %}快递到付{% endif %}</td>
            <td>{{ orderInfo.shipmode }}</td>
            <td>{{ orderInfo.receiverName }}</td>
            <td>{{ orderInfo.receiverPhone }}</td>
            <td>{{ orderInfo.receiverCity }}</td>
            <td>{{ orderInfo.receiverPostcode }}</td>
            <td>{{ orderInfo.receiverAdress }}</td>
        </tr>
        </tbody>
    </table>
    <br>
    <table class="table table-bordered table-striped table-hover">
        <thead>
        <tr>
            <th>ID</th>
            <th>产品编号Code</th>
            <th>产品名Name</th>
            <th>颜色Color</th>
            <th>数量Quantity</th>
            <th>单位Unit</th>
            <th>总件数Total</th>
        </tr>
        </thead>
        <tbody>
        {% for orderItem in orderItems %}
            <tr>
                <td>{{ loop.index }}</a></td>
                <td>{{ orderItem.product.codigo }}</td>
                <td>{{ orderItem.product.productNameEs }}</td>
                <td>{{ orderItem.colorName }}</td>
                <td>{{ orderItem.quantity }}</td>
                <td>{{ orderItem.unit }}</td>
                {% set foo = orderItem.quantity * orderItem.product.unit %}
                <td>{{ foo }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <br><br>
    <ul>
        <li>
            <a href="{{ path('orderinfo_index') }}" class="button button-rounded">返回订单列表</a>
            <button class="button button-rounded button-primary" onclick="window.print();"><i class="fa fa-print"></i> 打印</button>
        </li>
        <br>
    </ul>

{% endblock %}