{% extends 'font.html.twig' %}

        {% block stylesheets %}
            {{ parent() }}
            <link rel="stylesheet" href="{{ asset('bundles/chisnbal/css/bootstrap.min.css') }}" />
            <link rel="stylesheet" href="{{ asset('bundles/chisnbal/css/cart.css') }}" />
            <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
        {% endblock %}
{% block content %}
    <section id="main" class="content-main" role="main">

        <section id="shop-cart-content" data-controller="shop/shop-cart-controller">
            <form action="//www.zara.com/es/es/shop/shipping/251514673" method="POST" class="_shopCartForm">
                <table class="order-table">
                    <thead>
                    <tr class="thead"><th>PRODUCTO</th>
                        <th class="description">DESCRIPCIÓN</th>
                        <th>COLOR</th>
                        <th>TALLA</th>
                        <th class="quantity">UNIDADES</th>
                        <th class="price" id="priceHeader">IMPORTE</th>
                        <th class="delete">ELIMINAR</th>
                    </tr>
                    </thead>
                    <tbody id="shangpin">
                    {% for cartItem in cartItems %}
                        <tr id="order-item" class="order-item  _order-item-919231977">
                            <td class="_detail">
                                <a href="{{ path('chisnbal_fotodetalle_list', { 'productId': cartItem.product.id }) }}" target="_self">
                                    <img src="{{ asset('uploads/fotos/' ~ cartItem.product.foto) }}" width="135px;">
                                </a>
                            </td>
                            <td class="description _detail">
                                <a href="{{ path('chisnbal_fotodetalle_list', { 'productId': cartItem.product.id }) }}" target="_self">
                                    <span>{{ cartItem.product.productNameEs }}</span><br>Ref.&nbsp;{{ cartItem.product.codigo }}
                                </a>
                            </td>
                            <td class="color">{{ cartItem.color }}</td>
                            <td class="size">
                            {%for role in cartItem.product.sizes %}
                                {{ role.sizeName }}&nbsp;&nbsp;
                            {%endfor%}
                            </td>
                            <td class="quantity">
                                <span class="_quantity" id="_unit">{{ cartItem.product.unit }} </span> x <span class="_quantity" id="_quantity">{{ cartItem.quantity }}</span>
                                <br><br>
                                <span id="cartItemId" style="display: none">{{ cartItem.id }}</span>
                                <span id="priceunit" style="display: none">{{ cartItem.product.price }}</span>
                                <span>
                                    <a class="button button-large button-plain button-border button-box minnum" data-path=""><i class="fa fa-minus" aria-hidden="true"></i></a>
                                    <a class="button button-large button-plain button-border button-box addnum" data-path=""><i class="fa fa-plus" aria-hidden="true"></i></a>
                                </span>
                            </td>
                            <td class="price"><span id="heji"></span> EUR</td>
                            <td class="delete">
                                <a class="button button-large button-plain button-borderless" href="{{ path('cartitem_cart_delete', { 'id': cartItem.id }) }}">
                                    <i style="float: right;padding-right: 10px; font-size: 15px;" class="fa fa-trash-o" aria-hidden="true"></i>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                    <tr id="order-item-919231977" class="order-item  _order-item-919231977">
                        <td class="_detail">
                            <a href="" alt="CAZADORA ANTELINA" target="_self">
                                <img src="//static.zara.net/photos///2016/I/0/2/p/1792/306/800/2/w/135/1792306800_1_1_1.jpg?ts=1470216930257">
                            </a>
                        </td>
                        <td class="description _detail">
                            <a href="" target="_self">
                                <span>CAZADORA ANTELINA</span>Ref.&nbsp;1792/306
                            </a>
                        </td>
                        <td class="color">Negro</td>
                        <td class="size">XL</td>
                        <td class="quantity">
                            <span class="_quantity">4</span>
                            <span>
                                <button type="button" class="button fonticon gray-on-hover fonticon-plus _addUnitBtn" alt="Añadir una unidad más - CAZADORA ANTELINA"></button>
                                <button type="button" class="button fonticon gray-on-hover fonticon-minus _subsUnitBtn" alt="Eliminar una unidad - CAZADORA ANTELINA"></button>
                            </span>
                        </td>
                        <td class="price">159,80 EUR</td>
                        <td class="delete">
                            <i style="float: right;padding-right: 10px; font-size: 15px;" class="fa fa-trash-o" aria-hidden="true"></i>
                            <div class="no-stock-item" style="display: none;">
                                <div class="arrow-up"></div>
                                <span>Producto agotado</span>
                            </div>
                        </td>
                    </tr>

                    </tbody>
                    <tfoot>
                    <tr>
                        <th colspan="6" class="order-items-total" scope="row">Total de productos:</th>
                        <td class="order-items-total" headers="priceHeader"><span id="totalprice"></span> EUR</td>
                    </tr>
                    <tr>
                        <th class="order-delivery-costs" colspan="6" scope="row">Gastos de envío estimados:</th>
                        <td class="order-delivery-costs" headers="priceHeader">0,00 EUR</td>
                    </tr>
                    <tr class="total">
                        <th colspan="6" scope="row"><strong>Total:</strong></th>
                        <td class="order-total" headers="priceHeader"><span id="total"></span> EUR</td>
                    </tr>
                    <tr class="order-vat-costs">
                        <th colspan="6" scope="row">
                            <span class="offleft">Impuestos</span>
                        </th>
                        <td headers="priceHeader"><em>* IVA no incluido</em></td>
                    </tr>
                    </tfoot>
                </table>
                <div>
                    <p>Devoluciones y reembolso: Tiene una semana para cancelar o devolver tu pedido.
                        <br>Antes de todo, póngase en contacto con nosotros.
                        <br>Lee más sobre nuestra política de devoluciones y reembolso.</p>
                </div>
                <div class="anniu">
                    <button class="button-secondary button-big FL _continue-shopping-btn" type="button"><span>SEGUIR COMPRANDO</span></button>
                    <button class="button-primary button-big FR" onclick="window.location.href='{{ path('chisnbal_guestinfo') }}'" type="button"><span>Continuar</span></button>
                </div>
            </form>
        </section>
    </section>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/chisnbal/js/cart.js') }}"></script>
{% endblock %}
