{% extends 'font.html.twig' %}

        {% block stylesheets %}
            {{ parent() }}
            <link rel="stylesheet" href="{{ asset('bundles/chisnbal/css/bootstrap.min.css') }}" />
            <link rel="stylesheet" href="{{ asset('bundles/chisnbal/css/orderinfo.css') }}" />
            <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
        {% endblock %}
{% block content %}

    <div class="container" style="padding-left: calc(12% + 0px);
    padding-right: calc(12% + 0px);">
        <div class="line mod">
            <div class="unit size1of1">
                <h2>Tramita pedido</h2>
            </div>
        </div>
        <div class="line mod">
            <div class="radioGroup">
                <h2>Método de envío</h2>
                <div>
                    <input id="radio-1" class="radio-custom" name="radio-group" type="radio" checked>
                    <label for="radio-1" class="radio-custom-label">Recoger en tienda: En la tienda que elijas en 2-3 días laborables. Gratuito</label>
                </div>
                <div>
                    <input id="radio-2" class="radio-custom" name="radio-group" type="radio">
                    <label for="radio-2" class="radio-custom-label">Estándar: En 2-3 días laborables. 3,95 EUR Gratuito (PEDIDOS A PARTIR DE 30 EUR)</label>
                </div>
                <div>
                    <input id="radio-3" class="radio-custom" name="radio-group" type="radio">
                    <label for="radio-3" class="radio-custom-label">Express: En 24-48 horas (días laborables). 5,95 EUR</label>
                </div>
            </div>
        </div>
        <div class="line mod">
            <div class="radioGroup">
                <h2>DATOS DE CONTACTO</h2>
                <form class="form-horizontal" method="post" enctype="multipart/form-data" action="{{ path('chisnbal_cartToOrderinfo') }}" name="orderinfo">
                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-2 control-label">Email</label>
                        <div class="col-sm-8">
                            <input name="email" type="email" class="form-control" id="inputemail" required="required" placeholder="Email" >
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputtel" class="col-sm-2 control-label">Teléfono</label>
                        <div class="col-sm-8">
                            <input name="phonenumber" type="text" class="form-control" id="inputtel" required="required" placeholder="Teléfono">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputname" class="col-sm-2 control-label">Nombre</label>
                        <div class="col-sm-8">
                            <input name="name" type="text" class="form-control" id="inputname" required="required" placeholder="Nombre">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputPassword3" class="col-sm-2 control-label">Dirección</label>
                        <div class="col-sm-8">
                            <input name="address" type="text" class="form-control" id="inputaddress" required="required" placeholder="Dirección">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputpost" class="col-sm-2 control-label">Código postal</label>
                        <div class="col-sm-8">
                            <input name="postcode" type="text" class="form-control" id="inputpost" required="required" placeholder="Código postal">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputPassword3" class="col-sm-2 control-label">Localidad</label>
                        <div class="col-sm-8">
                            <input name="city" type="text" class="form-control" id="inputlocal" required="required" placeholder="Localidad">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="inputPassword3" class="col-sm-2 control-label">Método de pago</label>
                        <div class="col-sm-8">
                            <select name="paytype" class="form-control" required="required">
                                <option value="1">门店付款</option>
                                <option value="2">转账(+21%IVA)</option>
                                <option value="3">到付(+5%)</option>
                            </select>
                        </div>
                    </div>
                    <div class="total">
                        <p><strong>Precion Final:</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span id="final" style="font-weight: bold;">{{ priceall }}</span>&nbsp;&nbsp;&nbsp;EUR</p>
                    </div>
                    <br><br>
                    <div class="">
                        <div class="unit size1of1">
                            <div class="actions fLeft">
                                <button id="backCheckoutShippingBt" type="button" value="Volver" class="button butBack butWhite gaViewEvent">
                                    <i class="icon icon-arrow-left"></i>
                                    <span>Volver</span>
                                </button>
                            </div>
                            <div class="actions fRight">
                                <button id="checkoutPaymentBt" type="submit" value="FINALIZAR PEDIDO"
                                        class="button butBlack authPayment gaTrack gaViewEvent" onclick="return checkform()">
                                    <span>FINALIZAR PEDIDO</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
        {% block javascripts %}
            {{ parent() }}
            <script src="{{ asset('bundles/chisnbal/js/validation.js') }}"></script>
        {% endblock %}
