{% extends 'font.html.twig' %}

{% block content %}
    <div class="site-inner" style="margin-bottom: 50px">
        <div style="height: auto;" class="view-container">
            <img style="max-width: 100%;" src="{{ asset('bundles/chisnbal/img/1.jpg') }}"/>
        </div>
    </div>

    <div class="site-section__inner site-section__inner--pattern-swirl">
        <div class="site-section__content">
            <h2 class="site-section__title">MÁS VENDIDO</h2>
            <div class="flex-row flex-row--space products grid--row-6">
            {% for fontProduct in fontProducts %}
                <div class="flex-row__col flex-row__col--2">
                    <div class="product product--small">
                        <a href="">
                            <img class="product__thumb" src="{{ asset('uploads/fotos/' ~ fontProduct.foto) }}">
                        </a>
                        <p class="product__subtitle"><a href="">{{ fontProduct.description }}</a></p>
                        <h4 class="product__title"><a href="">{{ fontProduct.name }}</a></h4>
                    </div><!--end .product-->
                </div><!--end .flex-row__col-->
            {% endfor %}
            </div><!--end .products-->
        </div><!--end .site-section__content-->
    </div>

    <div class="site-section__inner site-section__inner--white">
        <div class="site-section__content">
            <h2 class="site-section__title">COLECCIONES TOP</h2>
            <div class="flex-row flex-row--space collections grid--row-4">

                <div class="flex-row__col flex-row__col--4">
                    <a class="collection" href="{{ path('chisnbal_product_list', { 'categoryId': 9 }) }}">
                        <img class="collection__thumb" src="{{ asset('bundles/chisnbal/img/item11.png') }}" alt="Cazadoras">
                        <h4 class="collection__title">
                            <span class="collection__title__txt">Cazadoras</span>
                        </h4>
                    </a><!--end .collection-->
                </div><!--end .flex-row__col-->

                <div class="flex-row__col flex-row__col--4">
                    <a class="collection" href="">
                        <img class="collection__thumb" src="{{ asset('bundles/chisnbal/img/item8.jpg') }}" alt="Bolsos">
                        <h4 class="collection__title">
                            <span class="collection__title__txt">Bolsos</span>
                        </h4>
                    </a><!--end .collection-->
                </div><!--end .flex-row__col-->

                <div class="flex-row__col flex-row__col--4">
                    <a class="collection" href="">
                        <img class="collection__thumb" src="{{ asset('bundles/chisnbal/img/item9.jpg') }}" alt="Watches">
                        <h4 class="collection__title">
                            <span class="collection__title__txt">Watches</span>
                        </h4>
                    </a><!--end .collection-->
                </div><!--end .flex-row__col-->

                <div class="flex-row__col flex-row__col--4">
                    <a class="collection" href="">
                        <img class="collection__thumb" src="{{ asset('bundles/chisnbal/img/item10.jpg') }}" alt="Wallets">
                        <h4 class="collection__title">
                            <span class="collection__title__txt">Wallets</span>
                        </h4>
                    </a><!--end .collection-->
                </div><!--end .flex-row__col-->

                <div class="flex-row__col flex-row__col--4">
                    <a class="collection" href="">
                        <img class="collection__thumb" src="{{ asset('bundles/chisnbal/img/item11.jpg') }}" alt="Keychains">
                        <h4 class="collection__title">
                            <span class="collection__title__txt">Keychains
                            </span>
                        </h4>
                    </a><!--end .collection-->
                </div><!--end .flex-row__col-->

                <div class="flex-row__col flex-row__col--4">
                    <a class="collection" href="">
                        <img class="collection__thumb" src="{{ asset('bundles/chisnbal/img/item22.jpg') }}" alt="Bermudas">
                        <h4 class="collection__title">
                            <span class="collection__title__txt">Bermudas</span>
                        </h4>
                    </a><!--end .collection-->
                </div><!--end .flex-row__col-->

            </div><!--end .flex-row-->
        </div><!--end .collections-->
    </div>
{% endblock %}
