{% extends 'font.html.twig' %}

        {% block stylesheets %}
            {{ parent() }}
            <link rel="stylesheet" href="{{ asset('bundles/chisnbal/css/bootstrap.min.css') }}" />
            <link rel="stylesheet" href="{{ asset('bundles/chisnbal/css/productlist.css') }}" />
        {% endblock %}
{% block content %}
    <div class="cartlogo" style="position: absolute; right: 120px; top:100px;">
        <ul>
            <li><a href="{{ path('chisnbal_carrito') }}" id="cart"><i class="fa fa-shopping-cart" style="font-size: 20px; position: relative; top: 3px"></i> Carrito <span class="badge">{{ numItems }}</span></a></li>
        </ul>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3 col-md-2 sidebar">
                <ul class="category">
                    <li class="nuevo"><a href="{{ path('chisnbal_product_list_new') }}">ÚLTIMA<br>SEMANA</a></li>
                    <i class="empty-divider" role="separator">&nbsp;</i>
                    <li class="mujer">HOMBRE</li>
                    <i class="empty-divider" role="separator">&nbsp;</i>
                    {% for category in categories %}
                        <li class="_category-link" data-categoryid="{{ category.id }}" tabindex="0">
                            <a href="{{ path('chisnbal_product_list', { 'categoryId': category.id }) }}">{{ category.categoryNameEs }}</a>
                        </li>
                    {% endfor %}
                    <li class="_category-link" style="display: none">
                        <a href="">REBAJAS</a>
                    </li>
                </ul>
            </div>
            <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 imglist">
                {% for product in products %}
                    <div class='col-sm-6 col-md-4 col-lg-3'>
                        <a href="{{ path('chisnbal_fotodetalle_list', { 'productId': product.id }) }}">
                            <img src="{{ asset('uploads/fotos/' ~ product.foto) }}" height="320px">
                        </a>
                        <div class="product-info">
                            <a class="" href="{{ path('chisnbal_fotodetalle_list', { 'productId': product.id }) }}">{{ product.productNameEs }}</a>
                            <div class="price _product-price"><span>ref: {{ product.codigo }}</span></div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
