{% extends 'font.html.twig' %}

        {% block stylesheets %}
            {{ parent() }}
            <link rel="stylesheet" href="{{ asset('bundles/chisnbal/css/bootstrap.min.css') }}" />
            <link rel="stylesheet" href="{{ asset('bundles/chisnbal/css/productlist.css') }}" />
        {% endblock %}
{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3 col-md-2 sidebar">
                <ul class="category">
                    <li class="nuevo"><a href="">ÚLTIMA<br>SEMANA</a></li>
                    <i class="empty-divider" role="separator">&nbsp;</i>
                    <li class="mujer">HOMBRE</li>
                    <i class="empty-divider" role="separator">&nbsp;</i>
                    {% for category in categories %}
                        <li class="_category-link" data-categoryid="{{ category.id }}" tabindex="0">
                            <a href="{{ path('chisnbal_product_list', { 'categoryId': category.id }) }}">{{ category.categoryNameEs }}</a>
                        </li>
                    {% endfor %}
                    <li class="_category-link">
                        <a href="">REBAJAS</a>
                    </li>
                </ul>
            </div>

            <div class="col-sm-5 col-sm-offset-3 col-md-6 col-md-offset-2 imglist">

                {% for fotodetalle in fotodetalles %}
                    <div class='col-sm-12 col-md-12 col-lg-12'>
                        <img src="{{ asset('uploads/fotos/' ~ fotodetalle.fotodetalle) }}" height="750px">
                        <div class="product-info">
                            <br>
                            <a class="" href="">{{ fotodetalle.descriptionEs }}</a>
                        </div>
                    </div>
                {% endfor %}

                    <div class='col-sm-12 col-md-12 col-lg-12'>
                        <img src="{{ asset('uploads/fotos/1792306800_1_1_1.jpg') }}" height="750px">
                        <div class="product-info">
                            <br>
                            <a class="" href="">TEJIDO PRINCIPAL - 90% poliéster, 10% elastano</a>
                        </div>
                    </div>
                <div class='col-sm-12 col-md-12 col-lg-12'>
                    <img src="{{ asset('uploads/fotos/color1.jpg') }}" height="750px">
                    <div class="product-info">
                        <a class="" href=""></a>
                    </div>
                </div>

            </div>

            <div class="col-sm-4 col-md-4 purchase-column">
                <section class="product-detail-purchase" data-module="productDetail, productDetailScrollSpy">
                    <h1 class="product-name product-detail-product-name">{{ product.productNameEs }}</h1>
                    <div class="product-price product-detail-price">
                        <div class="price-column product-detail-price-column">
                            <!-- // BUGFIX GR-3357  PDP - Fix mixed currency signs -->
                            <span id="markedDown_full_Price" class="price">€ {{ product.price }}</span>
                        </div>
                    </div>
                    <div class="product-info-wrapper">
                        <div class="style-number-title">
                            Ref: <span> {{ product.codigo }}</span>
                        </div>

                        <div class="product-style-selector">
                            <div class="row">

                                {% for color in colors %}
                                    <div class="col-lg-3 col-md-3 col-sm-3">
                                        <label class="color">
                                            <a class="group" rel="gallery1" href="{{ asset('uploads/fotos/' ~ color.colorFoto) }}">
                                                <img src="{{ asset('uploads/fotos/' ~ color.colorFoto) }}" alt="{{ color.colorNameEs }}" height="70px">
                                            </a>
                                            <span class="color-description">{{ color.colorNameEs }}</span>
                                        </label>
                                    </div>
                                {% endfor %}

                                <div class="col-lg-3 col-md-3 col-sm-3">
                                    <label class="color">
                                        <a class="group" rel="gallery1" href="{{ asset('uploads/fotos/color1.jpg') }}">
                                            <img src="{{ asset('uploads/fotos/color1.jpg') }}" alt="colorName" height="70px">
                                        </a>
                                        <span class="color-description">negro</span>
                                    </label>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-3">
                                    <label class="color">
                                        <a class="group" rel="gallery1" href="{{ asset('uploads/fotos/color2.jpg') }}">
                                            <img src="{{ asset('uploads/fotos/color2.jpg') }}" alt="colorName" height="70px">
                                        </a>
                                        <span class="color-description">rojo</span>
                                    </label>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-3">
                                    <label class="color">
                                        <a class="group" rel="gallery1" href="{{ asset('uploads/fotos/color3.jpg') }}">
                                            <img src="{{ asset('uploads/fotos/color3.jpg') }}" alt="colorName" height="70px">
                                        </a>
                                        <span class="color-description">oscuro</span>
                                    </label>
                                </div>

                            </div>
                        </div>
                        <!-- .add-to-shopping-bag-form -->
                        <div class="save-help talla" data-module="tooltip">
                            <div class="selectric">
                                <p class="label">Tallas</p>
                            </div>
                            <div class="guia" style="width: auto;">
                                <div class="size-guide " style="">
                                    <a class="size-guide-link overlay-open" href="">
                                        Guía de Tallas</a>
                                </div>
                            </div>
                            <ul class="tallas">
                                <li>XS</li>
                                <li>S</li>
                                <li>M</li>
                                <li>L</li>
                                <li>XL</li>
                            </ul>
                        </div>
                        <button class="shopping-bag-cta add-to-shopping-bag" onclick="window.location.href='{{ path('chisnbal_carrito') }}'" type="submit" style="display: block;">
                            Añadir a Bolsa de Compras</button>
                        <div class="save-help guardar" data-module="tooltip">
                            <ul>
                                <li>
                                    <a class="save overlay-open main-product" href="#" tabindex="-1" data-save-item="432489ZHZ813215">Guardar este artículo</a>
                                </li>

                                <li class="divider"></li>
                                <li>
                                    <a class="help  may-we-help fancybox" href="#contacto">¿Necesita ayuda?</a>
                                    <!-- <div id="tooltip-help" class="tooltip tooltip-help tooltip-mwh">
                                        <ul>
                                            <li class="email">
                                                <a class="overlay-open simple-tabs-opener" href="#may-we-help-overlay" data-simple-tab-open="tab3">
                                                    ENVIAR UN CORREO ELECTRÓNICO</a>
                                            </li>
                                            <li class="chat">
                                        <a class="overlay-open simple-tabs-opener" href="#may-we-help-overlay" data-simple-tab-open="tab1">LIVE CHAT</a>
                                    </li>
                                        </ul>
                                    </div>-->
                                </li>
                            </ul>
                        </div>
                        <div class="product-details-nav">
                            <ul>
                                <li>
                                    <a class="product-details-nav-product-details" href="#">
                                        Detalles del producto</a>
                                </li>
                            </ul>
                        </div>
                        <div class="find-promo">
                            <ul>
                                <li class="promo-free">
                                    Envío &amp; devolución gratuitos</li>
                            </ul>
                        </div>
                    </div>
                    <!-- .product-info-wrapper -->
                    <input type="hidden" class="gucciProductName" value="Bomber de seda con estampado de rosa">
                    <input type="hidden" class="gucciProductCode" value="432489ZHZ813215">
                    <input type="hidden" class="gucciProductPrice" value="2980.0">
                    <input type="hidden" class="gucciProductCategory" value="Women/Womens-Ready-to-Wear/Womens-Outerwear">
                    <input type="hidden" class="gucciProductVariation" value="estampado de rosa">
                    <input type="hidden" class="gucciProductPostion" value="3">
                    <input type="hidden" class="gucciProductBrand" value="">
                    <input type="hidden" class="gucciProductList" value="ProductGridComponent">
                </section>
            </div>
        </div>
    </div>
{% endblock %}
